@use '../Theme.module.scss' as *;

.sector__container {
  @include Div(100vh, 80vw, row, color('color_4'));
  align-items: center;
  justify-content: center;
}

.image__cup {
  @include Div(85vh, 40vw, row, transparent);
  margin-right: -20vw;
  align-self: center;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
}

.image {
  object-fit: cover;
}

.main__div {
  @include Div(100vh, 60vw, column, transparent);
  align-items: flex-end;
  justify-content: center;
  padding: 10vh 10vw;
  font-family: $sc_font;
  color: color('color_2');
  text-align: right;
  gap: 4vh;

  h1 {
    font-style: $pr_font;
    font-weight: 800;
    color: white;
    letter-spacing: 0.5vw;
    font-size: clamp(1rem, 3.1vw, 10rem);
  }

  p {
    width: 75%;
    font-size: clamp(0.5rem, 0.9vw, 4rem);
    color: color('color_2');
  }
  ul {
    list-style: square;
    direction: rtl;
    color: color('color_2');
    font-size: clamp(0.5rem, 0.8vw, 4rem);
  }
}
