@use './theme.module.scss' as *;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: rgba(214, 214, 214, 0.8);
  text-decoration: none;
  position: relative;
  padding-bottom: 0.8vh;
}
a::after {
  content: '';
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #d6d6d6;
  transition: 300ms all ease-in-out;
}
a:hover {
  transform: scale(1.05);
  color: white;
}

a:hover::after {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 300ms all ease-in-out;
  cursor: url('../assets/icons/cursor.svg'), auto;
}

.error__div {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5)),
    url(../assets/images/footprint.jpg);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  background-position: center;
  background-size: cover;
}

.error__header {
  font-size: clamp(2rem, 7vw, 10rem);
  font-family: $pr_font;
  font-weight: 800;
  color: white;
  mix-blend-mode: exclusion;
  margin-bottom: 10vh;
}

.error__tag {
  font-family: $sc_font;
  font-size: clamp(1rem, 4vw, 1.8rem);
  color: white;
  font-weight: 500;
  font-style: italic;
  mix-blend-mode: exclusion;
}

.one {
  position: absolute;
  bottom: 15vh;
}

.two {
  position: absolute;
  bottom: 10vh;
}
