@use './theme.module.scss' as *;

.container {
  @include Div(auto, 100%, column, color('color_1'));
  align-items: center;
  padding: 5vh 0;
  padding-bottom: 15vh;
  min-height: 100vh;
  gap: 3vh;
  overflow: hidden;
  font-family: $pr_font;
  color: color('color_2');

  h1 {
    color: white;
    font-size: clamp(1.5rem, 3vw, 7rem);
  }
}

.section__div {
  @include Div(auto, 40%, column, transparent);
  padding: 4vh 3vw;
  min-width: 720px;
  margin-top: 8vh;
  border: 2px solid rgba(color('color_2'), 0.6);
  border-radius: 1vw;
  gap: 2vh;
  box-sizing: border-box;

  &:hover {
    border: 2px solid rgba(color('color_3'), 1);
  }

  h2 {
    font-size: clamp(1rem, 1.5vw, 6rem);
    margin-bottom: 2vh;
  }
}

.input__container {
  @include Div(35px, 100%, row, transparent);
  align-items: center;
  justify-content: center;
  position: relative;

  p {
    position: absolute;
    right: 0.7vw;
    display: inline;
    top: 0;
    pointer-events: none;
  }
}

.input__symbol {
  position: absolute;
  left: 0.7vw;
}

.input {
  width: 100%;
  height: 100%;
  border-radius: 0.3vw;
  background-color: transparent;
  border: none;
  padding: 1vh 2vw;
  padding-left: 5vw;
  color: color('color_2');
  font-size: clamp(1.2rem, 1vw, 4rem);
  border-bottom: 1.5px solid color('color_2');
  outline: none;

  &:focus {
    border-bottom: 1.5px solid color('color_3');
  }
}

.outside {
  width: 40%;
  margin-bottom: -5vh;
  margin-top: 7vh;
}

.button {
  width: 40%;
  height: 8vh;
  margin-top: 5vh;
  font-family: $pr_font;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
  color: color('color_2');
  border: thin solid color('color_2');
  border-radius: 0.4vw;

  &:hover {
    transform: scale(1.03) translateY(-0.5vh);
    border: thin solid color('color_3');
    color: color('color_3');
    box-shadow: inset 0px 0px 30px rgba(color('color_3'), 0.3);
  }
}
